# Build output
bin/
obj/

# Visual Studio
.vscode/
*.user
*.suo
*.cache
*.log
.vs/
TestResults/
*.rsuser
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.opendb

# NuGet
packages/
*.nupkg
**/[Pp]ackages/[Bb]uild/

# Python
.venv/
__pycache__/
*.pyc

# OS
Thumbs.db
desktop.ini
.DS_Store
